<% provide(:title, @student.first_name) %>
<h3 id="text-center"><%= link_to 'Rate Courses', controller: 'courses' %> or <%= link_to 'Find Students', controller: 'students' %></h3>

<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1>
        <%= gravatar_for @student %>
        <%= @student.first_name %> <%= @student.last_name %>
      </h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="bigger-font">Courses Rated: <%= @student.ratings.count %></h1>
      <br>
      <br>
      <br>
    </section>
  </aside>
</div>
