<% provide(:title, @student.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1>
        <%= gravatar_for @student %>
        <%= @student.first_name %> <%= @student.last_name %>
      </h1>
      <br>
      <br>
      <br>
      <h3><%= link_to 'Rate Courses', controller: 'courses' %></h3>
      <h3>or</h3>
      <h3><%= link_to 'Find Students', controller: 'students' %></h3>
    </section>
  </aside>
</div>
