<h1>Course: <%= @course.name %></h1>
<h3 id="text-center"><%= link_to 'See All Ratings', course_ratings_path(@course.id) %> or
    <%= link_to 'Add a New One For This Course', new_course_rating_path(@course.id) %>
</h3>
<br>
<%= image_tag("rails.png") %>
<p><strong>Course:</strong><%= @course.name %></p>

<p><strong>Instructor:</strong><%= @course.instructor %></p>

<p><strong>Average Rating:</strong><%= @course.ratings.average_rating %></p>

<h2>Comments</h2>
<%= render @course.comments %>

<hr>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Back', courses_path %>
