#have a link for a user to rate a course at the very top nice and clean for Jenn (nested route)

<h1>Course: <%= @course.name %></h1>
<h3><%= link_to 'See All Reviews For This Course!', course_ratings_path(@course.id) %></h3>
<br>
<%= image_tag("rails.png") %>
<p>
  <strong>Course:</strong>
  <%= @course.name %>
</p>


<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<h2>Comments</h2>
<%= render @course.comments %>

<hr>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Back', courses_path %>
