<h1>Course: <%= @course.name %></h1>

<%= image_tag("rails.png") %>
<p>
  <strong>Course:</strong>
  <%= @course.name %>
</p>

<!-- <p>
  <strong>Category:</strong>
  <#%= @category.cat_name %>
</p> -->

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<h2>Comments</h2>
<%= render @course.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Back', courses_path %>
