<h1>Course: <%= @course.name %></h1>
<h3 id="text-center"><%= link_to 'See All Ratings', course_ratings_path(@course.id) %> or
    <%= link_to 'Add a New One For This Course', new_course_rating_path(@course.id) %>
</h3>
<br>
<%= image_tag("rails.png") %>
<p class="bigger-font">Course: <%= @course.name %></p>

<p class="bigger-font">Instructor: <%= @course.instructor %></p>

<p class="bigger-font">Average Rating: <%= @course.ratings.average_rating %></p>
